.outer-section {
  background-color: pink;
}
.inner-section {
  background-color: aquamarine;
  margin: 0 auto;
}


@media screen and (min-width: 480px) {
  .inner-section {
    max-width: 440px;
  }
}

@media screen and (min-width: 768px) {
  .inner-section {
    max-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .inner-section {
    max-width: 1160px;
  }
}
